@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, Helvetica;
    font-weight:300;
}
body{
    background:linear-gradient(to right, #35c7bc, #12e0d1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #fff;
    width:1000px;
    height:500px;
    display: flex;
    flex-direction:row;
}
.right-side{
    width:500px;
    height:100%;
    background:chartreuse;
    background: url('maldives.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.left-side{
    display: flex;
    flex-direction: column;
}
.logo, .heading, .form, .btn, h3{
    margin-left: 15%; 
}
.logo{
    margin-top:20px;
    margin-bottom: 10%;

}
.logo h2 a{
    font-size:16px;
    text-decoration: none;
    color:#35c7bc;
    font-weight:500;
}
.heading{
    margin-bottom:10%;
}
.heading h1{
    font-weight: 450;
    margin-bottom: 10px;
}

.left-side .heading h3{
    margin-left: -0.8%;
    font-weight: 400;
    font-size:16px;
}
.form{
    height: 100px;
    width: 350px;
    display:flex;
    flex-direction: column;
}
label{
    font-size: 14px;
    color:grey;
}
input[type=email], input[type=password]{
    padding: 5px;
    width: 100%;
    margin-bottom:20px;
    border: none;
    outline: none;
    font-size:16px;
    border-bottom: 1px grey solid;
    color: #35c7bc;
    font-weight:600;
}
.btn{
    cursor: pointer;
    margin-top: 15%;
    border-radius: 20px;
    outline: none;
    border: none;
    background:#35c7bc;
    height:35px;
    color: #fff;
    font-size:17px;
    width: 30%;
    font-weight: 600;
    margin-left: 50%;
}
.left-side h3{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 40%;
}
.left-side h3 a{
    color:#12e0d1;
    font-weight:800;
}